*{
    margin: 0;
    padding: 0;
}

.out-div
{
    display: flex;
    background-color:gray ;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.video-div
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;    
    width: 700px;
    height: 400px;
    border: 1px solid  #ccc;
    border-radius: 2%;
    flex-direction: column;
}
.video
{
    width: 350px;
    height: 201px;
    border: 1px solid  #ccc;
    border-radius: 2%;
    border-style: none;
}
.video-tag
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}